@font-face {
    font-family: Hero_Light;
    src: url('../fonts/Hero_Light.otf');
}

@font-face {
    font-family: Acrom_Light;
    src: url('../fonts/Acrom_Light.otf');
}

@font-face {
    font-family: Acrom;
    src: url('../fonts/Acrom.otf');
}

@font-face {
    font-family: Ramp;
    src: url('../fonts/Onramp.ttf');
}

@font-face {
    font-family: RBNo2Light;
    src: url('../fonts/RBNo2Light.otf');
}

body {
    font-family: Klinic, Helvetica;
    padding-top: 4em;
}

.container {
    width: 100%;
    padding: 0;
}

#about {
    font-family: Ramp;
    border-top: 4px solid white;
    color:#6B6B6B;
}

#projects {
    font-family: Ramp;
    border-top: 4px solid white;
    color:#6B6B6B;    
}

#resume {
    font-family: Ramp;
    border-top: 4px solid white;
    color:#6B6B6B;
}

#contact {
    font-family: Ramp;
    border-top: 4px solid white;
    color:#6B6B6B;
}

#myNavBar {
    margin: 0;
    padding: 0;
    background-color: white;
}

#firstName {
    color:#86A677;
    font-family: Ramp;
    margin-right: .1em;
}

#lastName {
    color:#86A677;
    font-family: Ramp;
}

#firstName, #lastName {
    font-size: 2.2em;
}

.navbar-header {
    margin-bottom: 1em;
}

.navbar-brand {
    padding-top: .8em;
}

.navbar-default {
    border: none;
}

.navbar-collapse {
    border: none;
    text-align: right;
}

.navbar-collapse.in {
    overflow-y: visible;
}

.navbar {
    -webkit-box-shadow: 0px 6px 95px -10px rgba(231,232,233,1);
    -moz-box-shadow: 0px 6px 95px -10px rgba(231,232,233,1);
    box-shadow: 0px 6px 95px -10px rgba(231,232,233,1);
    border-radius: 0;
}

.navbar-nav {
    margin-right: 1em;
}

#aboutPage {
    width:55%;
    margin-top: 8em;
    font-size: 1.20em;
    margin-left: auto;
    margin-right: auto;
    color:#6B6B6B;
}

.underline {
    cursor: pointer;
    width: 5.667em;
    height: 4px;
    margin-top: .6em;
    margin-right: .5em;
    margin-left: .5em;
    font-size: 1.6em;
}

.underline #aboutSpan {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 4px;
    background: #B2929D;
    transition: all 0.5s;
}

.underline #projectSpan {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 4px;
    background: #8CBEB2;
    transition: all 0.5s;
}

.underline #resumeSpan {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 4px;
    background: #F3B562;
    transition: all 0.5s;
}

.underline #contactSpan {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 4px;
    background: #F06060;
    transition: all 0.5s;
}

.underline:hover #aboutSpan, .underline:hover #projectSpan, .underline:hover #resumeSpan, .underline:hover #contactSpan {
    width: 100%;
}

#firstDescription {
    background: url('../photos/wordPlace2.jpg') no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 40em;
        width:50%;
    margin: 1em;
    padding: 4em;
    float:right;
    display: inline-block;
}

#secondDescription {
    background: url('../photos/quotes.png') no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 40em;
    width:50%;
    margin: 1.3em;
    padding: 4em;
    float:right;
    display: inline-block;
}

#thirdDescription {
    background: url('../photos/bakery.png') no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 40em;
    width:50%;
    margin: 1.3em;
    padding: 4em;
    float:right;
    display: inline-block;
}

.paraOne {
    padding: 2.2em;
    font-size: 1.4em;
    width: 40%;
    height:100%;
    float:left;
    background-color: rgba(0, 0, 0, 0.84);
    color:white;
    padding: 1.8em;
    color: white;
}

.projectLinks {
    display: block;
    text-align: center;
}

.hideThis {
    display: none;
}

.showThis {
    display: block;
}

#contactPage {
    width: 45%;
    margin-top: 8em;
    font-size: 1.4em;
    margin-left: auto;
    margin-right: auto;
}

#resumePage > img {
    width:65%;
    height:100%;
    display: block;
    margin: auto;
    padding-top: 1em;
}

#contactPage > a {
    display: block;
    text-decoration: none;
    border: 1px solid black;
    margin-bottom: 2em;
    padding: .3em;
    width:40%;
}

#contactPage > a > img {
    height: 40px;
    display: inline;
}

#contactPage > a > p {
    display: inline;
    margin-top: .4em;
    float: right;
    margin-right: 1.8em;
}

@media (min-width : 768px) and (max-width : 1024px) {

    #firstName, #lastName {
        font-size: 1.7em;
    }

    .navbar-brand {
        padding-left: .2em;
    }

    #resumePage > img {
        height: 100%;
        width: 100%;
        padding-top: 0;
    }

    .underline {
        font-size: 1.4em;
    }

}


@media (max-width: 767px) {

    body {
        padding-top: 3em;
        font-family: Acrom, Helvetica;
    }

    li {
        margin-left: 2em;
    }

    #aboutPage {
        margin-top: 1.5em; 
        font-size: 1.2em;
        width:85%;
    }

    #firstName {
        margin-right: 0.2em;
        margin-left: .3em;
        font-size: 2em;
        font-family: Ramp;
    }
    
    #lastName {
        font-size: 2em;
        font-family: Ramp;
    }

    ul {
        width:100%;
    }

    li {
        float: left;
        margin:0;
        display: inline-block;
    }

    #menuButton {
        padding: 0;
        background-color: white;
        border: none;
        font-size: 1.4em;
    }

    .navbar {
        /*height: 4em;*/
    }

    .navbar-brand {
        padding-left: 0;
    }

    .navbar-nav {
        margin:0;
    }

    .navbar-header {
        margin-bottom: 0;
    }

    .navbar-toggle {
        border-radius: 1px;
    }

    #navCollapse {
        width:100%;
        padding: 0;
    }

    .paraOne {
        font-size: .9em;
        padding: 3.5em;
    }

    #firstDescription {
        padding: 1.5em;
        height: 22em;
        margin: 1em;
    }

    #secondDescription {
        padding: 1.5em;
        height: 22em;
        margin: 1em;
    }
    
    #thirdDescription {
        padding: 1.5em;
        height: 22em;
        margin: 1em;
    }

    #resumePage > img {
        height: 100%;
        width: 100%;
        padding-top: 0;
    }

    #contactPage {
        margin-top: 4em;
    }

    #contact, #projects, #resume, #about {
        margin: 0;
        margin-left: 2%;
    }

    .underline {
        width: 22.5%;
        height: 0;
        font-size: 1.3em;
    }

}


